<div class="flex justify-between items-center px-75 py-10">
  <img src="/images/REVATTI.png" alt="revatti-logo" class="max-h-min">
  <div class="text-[#FFFFFF]">
    <ul class="rounded-[100px] flex gap-15 bg-[#262526] px-10 py-3">
      <li><a href="#" class="hover:text-[#ffffffd0]">Этапы работы</a></li>
      <li><a href="#" class="hover:text-[#ffffffd0]">Услуги</a></li>
      <li><a href="#" class="hover:text-[#ffffffd0]">Проекты</a></li>
      <li><a href="#" class="hover:text-[#ffffffd0]">О нас</a></li>
      <li><a href="#" class="hover:text-[#ffffffd0]">Контакты</a></li>
    </ul>
  </div>
  <a href="" class="bg-[#F3FF69] rounded-[40px] px-4 py-3 font-[500]">Свяжитесь со мной</a>
</div>
