@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap");

.frame {
  @apply rounded-full text-[#FFFFFFE5] font-[500] w-[176px] h-[56px] flex justify-center items-center;
}

.timeline-frame {
  @apply rounded-full bg-[#262526] text-[#FFFFFFE5] font-[500] flex justify-center items-center py-[16px] px-[20px] w-fit;
}

.game-text {
  font-family: "Overpass Mono";
  font-weight: 500;
}

.services-frame {
  @apply text-[#FFFFFFE5] font-[18px] bg-[#1A191A] rounded-[20px] px-[32px] py-[16px] w-[19.43rem] hover:text-[#F3FF69];
}

.services-scrollbar {
  --scrollbar-border-radius: 29px;
  --scrollbar-thickness: 8;
  --scrollbar-offset: 16;
  --scrollbar-track-color: #FFFFFF33;
  --scrollbar-thumb-color: #f3ff69;
  --scrollbar-thumb-hover-color: #faff9f;
}

.custom-radio-outer {
  width: 1.25rem;  /* 20px */
  height: 1.25rem;
  border-radius: 9999px;
  border: 2px solid #FFFFFF99;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  background-color: #FFFFFF33;
}

.custom-radio-dot {
  display: none;
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  background-color: #F3FF69;
  transition: all 0.2s;
}

/* Когда radio выбран — меняем цвет обводки и скрываем dot */
.custom-radio:checked + .custom-radio-outer {
  border-color: #F3FF69;
}

.custom-radio:checked + .custom-radio-outer .custom-radio-dot {
  display: block;
}

.footer-link {
  @apply flex items-center gap-[0.25rem] hover:text-[#ffffffd0];
}