<div class="bg-[#181718] w-full rounded-t-[112px] relative" id="job-steps">
  <div class="mx-auto relative max-w-[1920px]">
    <div
      class="blur-[250px] bg-[#2362E0] w-[190px] h-[747px] absolute top-[218px] left-[25px] z-1"
    ></div>
    <div
      class="blur-[300px] bg-[#9747FF99] w-[880px] h-[250px] absolute top-[436px] left-[857px] z-1"
    ></div>
  </div>
  <div class="flex justify-center pt-[4.5rem] gap-[36px] relative z-2">
    <h2 class="text-[#F3FF69] font-[500] text-[40px] leading-12">
      Чем мы<br />
      занимаемся:
    </h2>
    <div class="flex flex-col gap-[24px]">
      <div class="flex gap-[16px] items-center">
        <div class="frame bg-[#9747FF]">UX/UI Дизайн</div>
        <p class="text-[#FFFFFFE5] max-w-180">
          Мы проектируем удобные, логичные и эстетичные интерфейсы понятные для
          всех пользователей. Специалист продумывает логику работы продукта и
          его визуал.
        </p>
      </div>
      <div class="flex gap-[16px] items-center">
        <div class="frame bg-[#182FA5]">Разработка</div>
        <div class="text-[#FFFFFFE5] max-w-180">
          <p class="mb-1">Мы пишем на:</p>
          <ul class="list-disc pl-7">
            <li>
              Backend — Python ,Golang, Gin, Fiber , Flask , Django, MongoDB,
              Postgres, Redis, RebbitMQ, Minio, Docker, Nginx.
            </li>
            <li>Frontend — React , TypeScript, JS.</li>
          </ul>
        </div>
      </div>
      <div class="flex gap-[16px] items-center">
        <div class="frame bg-[#4FA142]">SEO аналитика</div>
        <p class="text-[#FFFFFFE5] max-w-180">
          Используя инструменты аналитики, мы оптимизируем и выводим ваш сайт в
          топ 10 популярных сайтов при поиске
        </p>
      </div>
      <div class="flex gap-[16px] items-center">
        <div class="frame bg-[#DF52C9]">SMM</div>
        <p class="text-[#FFFFFFE5] max-w-180">
          Используя инструменты аналитики, мы оптимизируем и выводим ваш сайт в
          топ 10 популярных сайтов при поиске
        </p>
      </div>
    </div>
  </div>

  <div
    class="flex flex-col items-center pt-60 pb-[129px] gap-[24px] bg-gradient-to-b from-[#181718] via-[#000000] via-80% to-[#181718]"
  >
    <h2
      class="text-[#F3FF69] font-[500] text-[32px] flex max-w-[1322px] w-full justify-start relative z-2"
    >
      Как мы работаем
    </h2>
    <div class="flex flex-wrap relative max-w-[1322px] w-full z-2">
      <div
        class="before:content-[''] before:absolute before:left before:top-0 before:translate-x-[-50%] before:w-[3px] before:h-full before:bg-[#8F2C2C] before:rounded-full"
      >
        <h6 class="text-[#FFFFFFE5] text-center">1-2 дня</h6>
        <div class="grid grid-cols-3 grid-rows-3">
          <div class="timeline-frame row-start-2">Договор</div>
          <div class="timeline-frame col-start-2 col-span-2 row-start-3">
            Создание тех задания
          </div>
        </div>
      </div>
      <div
        class="before:content-[''] before:absolute before:left before:top-0 before:translate-x-[-50%] before:w-[3px] before:h-full before:bg-[#E37D06] before:rounded-full"
      >
        <h6 class="text-[#FFFFFFE5] text-center">2-3 дня</h6>
        <div class="grid grid-cols-1 grid-rows-4">
          <div class="timeline-frame row-start-4">UX исследования</div>
        </div>
      </div>
      <div
        class="before:content-[''] before:absolute before:left before:top-0 before:translate-x-[-50%] before:w-[3px] before:h-full before:bg-[#FFA800] before:rounded-full"
      >
        <h6 class="text-[#FFFFFFE5] text-center">1-3 недели</h6>
        <div class="grid grid-cols-1 grid-rows-4">
          <div class="timeline-frame row-start-4 leading-5.5 text-center">
            Создание макета<br />(дизайн сайта)
          </div>
        </div>
      </div>
      <div
        class="before:content-[''] before:absolute before:left before:top-0 before:translate-x-[-50%] before:w-[3px] before:h-full before:bg-[#F5F600] before:rounded-full"
      >
        <h6 class="text-[#FFFFFFE5] text-center">1-3 недели</h6>
        <div class="grid grid-cols-2 grid-rows-7">
          <div class="timeline-frame row-start-6 !w-full">Верстка</div>
          <div class="timeline-frame row-start-7 col-start-2">
            Программирование
          </div>
        </div>
      </div>
      <div
        class="before:content-[''] before:absolute before:left before:top-0 before:translate-x-[-50%] before:w-[3px] before:h-full before:bg-[#E37D06] before:rounded-full after:content-[''] after:absolute after:right-1.5 after:top-0 after:translate-x-[-50%] after:w-[3px] after:h-full after:bg-[#00AA4C] after:rounded-full"
      >
        <h6 class="text-[#FFFFFFE5] text-center">1 неделя</h6>
        <div class="grid grid-cols-1 grid-rows-8">
          <div class="timeline-frame row-start-8">Тестирование</div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex justify-between items-center border-y-2 border-dashed border-[#FFFFFF33] px-[330px]"
  >
    <img src="images/game.svg" alt="game" />
    <p class="text-[#46C7FF] game-text">
      &lt;p&gt; Играйте и выиграйте скидку -10% &lt;/p&gt;
    </p>
    <a href="" class="text-[#09EB20] game-text">&lt;a&gt; Играть &lt;/a&gt;</a>
  </div>
</div>
<div
  class="flex justify-center bg-[#110B11] mt-12 relative mx-auto max-w-[1920px]"
  id="services"
>
  <div
    class="blur-[300px] bg-[#600A0A] w-[459px] h-[250px] absolute top-[450px] left-[265px] z-1"
  ></div>
  <div>
    <h2
      class="text-[#F3FF69] font-[500] text-[32px] mb-6 flex max-w-[1322px] w-full justify-start relative"
    >
      Услуги
    </h2>
    <div class="flex gap-6 relative z-2">
      <div class="flex flex-col gap-4">
        <div class="services-frame">Сайты</div>
        <div class="services-frame">Дизайн</div>
        <div class="services-frame">Разработка</div>
        <div class="services-frame">SMM</div>
      </div>
      <div
        class="bg-[#1A191A] rounded-[24px] pl-10 py-6 h-[34.75rem] overflow-y-auto scrollbar scrollbar-thin scrollbar-thumb-[#F3FF69] scrollbar-track-[#FFFFFF33]"
      >
        <ng-scrollbar
          class="services-scrollbar"
          visibility="visible"
          orientation="vertical"
        >
          <div
            class="flex justify-between items-center w-226 border-b-[0.5px] border-b-[#FFFFFF33] pb-4 pt-6"
          >
            <p class="text-[#F3FF69] font-[400]">Корпоративный сайт</p>
            <div class="flex justify-between items-center gap-4">
              <p class="text-[#FFFFFFE5]">от 200 000 kzt</p>
              <button
                class="text-[#F3FF69] border-1 border-[#F3FF69] px-4 py-1 rounded-[12px]"
              >
                Заказать
              </button>
            </div>
          </div>
        </ng-scrollbar>
      </div>
    </div>
  </div>
</div>
<div class="flex justify-center mt-40 relative z-2" id="projects">
  <div class="flex flex-col">
    <div class="flex justify-between">
      <h2 class="text-[#F3FF69] font-[500] text-[32px]">Проекты</h2>
      <div
        class="relative flex justify-between gap-6 mb-6 bg-[#FFFFFF1A] rounded-full w-[984px] h-12"
      >
        <span
          class="absolute top-0 bottom-0 bg-[#F3FF69] rounded-full transition-all duration-300"
          [ngStyle]="pillStyle"
        ></span>
        <button
          #tabBtn
          *ngFor="let tab of tabs"
          (click)="select(tab)"
          class="relative z-10 px-6 py-2 rounded-full transition-colors duration-300 w-58"
          [ngClass]="
            active === tab ? 'text-black' : 'text-white hover:bg-gray-700'
          "
        >
          {{ tab }}
        </button>
      </div>
    </div>
    <div class="mt-4">
      <ng-container *ngIf="active === 'Дизайн'">
        <div class="flex flex-wrap gap-6 w-330">
          <div
            class="bg-[url(/images/project1.png)] w-106 h-106 rounded-3xl flex items-end"
          >
            <a href="" class="flex gap-1 ml-6 mb-8 leading-4">
              <svg
                width="26"
                height="26"
                viewBox="0 0 26 26"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M18 1H25V8M23.5 2.5L16 10M13 3H4C3.20435 3 2.44129 3.31607 1.87868 3.87868C1.31607 4.44129 1 5.20435 1 6V22C1 22.7956 1.31607 23.5587 1.87868 24.1213C2.44129 24.6839 3.20435 25 4 25H20C20.7956 25 21.5587 24.6839 22.1213 24.1213C22.6839 23.5587 23 22.7956 23 22V13"
                  stroke="white"
                  stroke-opacity="0.6"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <div class="flex flex-col">
                <p class="text-[#FFFFFFE5] text-2xl font-[400]">
                  Melodia Canto
                </p>
                <p class="text-[#FFFFFFE5] font-[300]">
                  MVP мобильное приложение
                </p>
              </div>
            </a>
          </div>
          <div
            class="bg-[url(/images/project4.png)] w-106 h-106 rounded-3xl flex items-end"
          >
            <a href="" class="flex gap-1 ml-6 mb-8 leading-4">
              <svg
                width="26"
                height="26"
                viewBox="0 0 26 26"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M18 1H25V8M23.5 2.5L16 10M13 3H4C3.20435 3 2.44129 3.31607 1.87868 3.87868C1.31607 4.44129 1 5.20435 1 6V22C1 22.7956 1.31607 23.5587 1.87868 24.1213C2.44129 24.6839 3.20435 25 4 25H20C20.7956 25 21.5587 24.6839 22.1213 24.1213C22.6839 23.5587 23 22.7956 23 22V13"
                  stroke="white"
                  stroke-opacity="0.6"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <div class="flex flex-col">
                <p class="text-[#FFFFFFE5] text-2xl font-[400]">
                  Яндекс Аналитика
                </p>
                <p class="text-[#FFFFFFE5] font-[300]">Landing страница</p>
              </div>
            </a>
          </div>
          <div
            class="bg-[url(/images/project3.png)] w-106 h-106 rounded-3xl flex items-end"
          >
            <a href="" class="flex gap-1 ml-6 mb-8 leading-4">
              <svg
                width="26"
                height="26"
                viewBox="0 0 26 26"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M18 1H25V8M23.5 2.5L16 10M13 3H4C3.20435 3 2.44129 3.31607 1.87868 3.87868C1.31607 4.44129 1 5.20435 1 6V22C1 22.7956 1.31607 23.5587 1.87868 24.1213C2.44129 24.6839 3.20435 25 4 25H20C20.7956 25 21.5587 24.6839 22.1213 24.1213C22.6839 23.5587 23 22.7956 23 22V13"
                  stroke="white"
                  stroke-opacity="0.6"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <div class="flex flex-col font-[400]">
                <p class="text-[#FFFFFFE5] text-2xl">Корзина в дом</p>
                <p class="text-[#FFFFFFE5] font-[300]">Web-приложение</p>
              </div>
            </a>
          </div>
          <div
            class="bg-[url(/images/project2.png)] w-106 h-106 rounded-3xl flex items-end"
          >
            <a href="" class="flex gap-1 ml-6 mb-8 leading-4">
              <svg
                width="26"
                height="26"
                viewBox="0 0 26 26"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M18 1H25V8M23.5 2.5L16 10M13 3H4C3.20435 3 2.44129 3.31607 1.87868 3.87868C1.31607 4.44129 1 5.20435 1 6V22C1 22.7956 1.31607 23.5587 1.87868 24.1213C2.44129 24.6839 3.20435 25 4 25H20C20.7956 25 21.5587 24.6839 22.1213 24.1213C22.6839 23.5587 23 22.7956 23 22V13"
                  stroke="white"
                  stroke-opacity="0.6"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <div class="flex flex-col">
                <p class="text-[#FFFFFFE5] text-2xl font-[400]">
                  Программа лояльности
                </p>
                <p class="text-[#FFFFFFE5] font-[300]">CRM система</p>
              </div>
            </a>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="active === 'Разработка'">
        Контент разработки...
      </ng-container>
      <ng-container *ngIf="active === 'SMM'"> Контент SMM... </ng-container>
    </div>
  </div>
</div>
<div
  class="flex justify-center mx-auto mt-40 relative bg-[url(/images/pacman-path.svg)] w-[1422px] h-[643px]"
>
  <img
    src="/images/image 18.png"
    alt="ghost"
    class="w-14 h-14 absolute left-[32.95rem] top-[-1.5rem]"
  />
  <img
    src="/images/image 17.png"
    alt="ghost"
    class="w-14 h-14 absolute left-[-1.5rem] top-[30rem]"
  />
  <img
    src="/images/image 16.png"
    alt="ghost"
    class="w-14 h-14 absolute left-[34.95rem] top-[38.2rem]"
  />
  <img
    src="/images/image 15.png"
    alt="ghost"
    class="w-14 h-14 absolute left-[42.45rem] top-[38.2rem]"
  />
  <img
    src="/images/image 19.png"
    alt="ghost"
    class="w-14 h-14 absolute left-[72.45rem] top-[38.2rem]"
  />
  <div class="flex flex-col w-[82.5rem]">
    <div class="flex justify-between w-full mt-10 mb-4">
      <h2 class="text-[#F3FF69] font-medium text-2xl w-full">Наша команда</h2>
      <div class="text-[#FFFFFFE5] flex items-center gap-4">
        <!-- кнопки здесь не нужны, навигация через carousel -->
      </div>
    </div>

    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let member of team; index as i">
        <ng-template carouselSlide [id]="'member-' + i" [width]="312">
          <div
            class="flex flex-col max-w-[19.5rem] w-full relative gap-4 items-center rounded-[24px] p-6 bg-[#262526]"
          >
            <p class="absolute left-6 text-[#FFFFFF80] font-light">
              {{ member.label }}
            </p>
            <img
              [src]="member.img"
              alt="{{ member.name }}"
              class="!w-[200px] h-[250px]"
            />
            <div class="flex flex-col items-center gap-4 text-[#FFFFFFE5]">
              <p class="text-2xl font-medium">{{ member.name }}</p>
              <div class="bg-[#39B025] rounded-[12px] py-2 px-4 font-[400]">
                {{ member.position }}
              </div>
            </div>
            <div
              class="flex flex-wrap gap-2 justify-center text-[#FFFFFFE5] max-w-[268px]"
            >
              <div
                *ngFor="let skill of member.skills"
                class="border rounded-full px-2 py-1"
              >
                {{ skill }}
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>
<div class="flex justify-center mt-[8.75rem] gap-[6rem]">
  <h2 class="text-[#FFFFFF] font-[500] text-[4rem] leading-tight">
    Хотите обсудить<br />
    ваш проект?
  </h2>
  <form>
    <div class="flex flex-col gap-[1.5rem]">
      <div class="bg-[#262526] rounded-[2rem] p-[2.5rem]">
        <div class="flex flex-col gap-[3rem]">
          <div class="flex flex-col gap-[1rem]">
            <p class="text-[#FFFFFFE5] font-[500] text-[1.5rem] flex">
              Введите ваш номер<span
                class="text-[#FF3737] text-[1rem] font-[400]"
                >*</span
              >
            </p>
            <div class="flex flex-wrap max-w-[28.8125rem] gap-[1rem]">
              <div class="relative flex gap-[1rem]">
                <select
                  [(ngModel)]="selected"
                  [ngModelOptions]="{ standalone: true }"
                  class="numberSelect appearance-none bg-[#FFFFFF1A] rounded-[1rem] w-[8.125rem] h-[3rem] px-[1rem] text-[#FFFFFFE5] font-[400] text-[1rem] pr-10"
                >
                  @for (country of countries; track country) {
                  <option
                    [value]="country.dialCode"
                    class="bg-[#181718] text-[#FFFFFFE5] hover:bg-[#262526] px-4 py-2"
                  >
                    {{ country.flag }} {{ country.dialCode }}
                  </option>
                  }
                </select>
                <div
                  class="pointer-events-none absolute inset-y-0 left-[6.3rem] flex items-center"
                >
                  <svg
                    class="h-4 w-4 text-white opacity-70"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M19 9l-7 7-7-7" />
                  </svg>
                </div>
                <input
                  type="text"
                  placeholder="___ ___ __ __"
                  class="appearance-none bg-[#FFFFFF1A] rounded-[1rem] w-[20.187rem] h-[3rem] px-[1rem] text-[#FFFFFFE5] font-[400] text-[1rem] placeholder:text-[#FFFFFF4D]"
                />
              </div>
              <div class="flex gap-[2.625rem]">
                @for (item of contactMethods; track $index) {
                <label
                  class="flex items-center gap-1 text-[#FFFFFFE5] font-[400] text-[1rem] cursor-pointer"
                >
                  <input
                    type="radio"
                    name="contactMethod"
                    [value]="item.value"
                    [(ngModel)]="selectedContactMethod"
                    [ngModelOptions]="{ standalone: true }"
                    class="hidden custom-radio peer"
                  />
                  <div class="custom-radio-outer">
                    <div class="custom-radio-dot"></div>
                  </div>
                  <span class="peer-checked:text-[#f3ff69]">{{
                    item.name
                  }}</span>
                </label>
                }
              </div>
            </div>
          </div>
          <div class="flex flex-col gap-[1rem]">
            <p class="text-[#FFFFFFE5] font-[500] text-[1.5rem] flex">
              Что вы хотите создать?
            </p>
            <textarea
              id=""
              cols="30"
              rows="3"
              class="bg-[#FFFFFF1A] text-[#FFFFFFE5] rounded-[1rem] p-[1rem] placeholder:text-[#FFFFFF4D] no-scrollbar"
              placeholder="Например, “сайт для бизнеса с возможностью онлайн оплаты” или “мне нужна консультация”"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center gap-[0.625rem]">
        <button class="w-full bg-[#F3FF69] text-[#110B11] font-[500] rounded-[1.25rem] py-[0.75rem] cursor-pointer">
          Свяжитесь со мной
        </button>
        <p class="text-[#FFFFFF80]">Мы свяжемся с вами в течении 30 минут</p>
      </div>
    </div>
  </form>
</div>
<div class="mt-[10.82rem]">
  <div class="relative z-1 flex flex-row">
    <div class="blur-[50px] bg-[#DF52C9] w-[320px] h-[24px]"></div>
    <div class="blur-[50px] bg-[#4481FC] w-[320px] h-[24px]"></div>
    <div class="blur-[50px] bg-[#7EE56D] w-[320px] h-[24px]"></div>
    <div class="blur-[50px] bg-[#E5C46D] w-[320px] h-[24px]"></div>
    <div class="blur-[50px] bg-[#C190FF] w-[320px] h-[24px]"></div>
    <div class="blur-[50px] bg-[#6CD9CC] w-[320px] h-[24px]"></div>
  </div>
  <footer
    class="w-full h-[11.5rem] bg-[#110B11] flex justify-start gap-[8.5rem] items-center px-75 py-10 relative z-3"
  >
    <img src="/images/REVATTI.png" alt="revatti-logo" class="max-h-min" />
    <div class="text-[#FFFFFF]">
      <ul class="flex gap-15">
        <li>
          <a href="tel:+77001234567" class="footer-link">
            <img src="/images/footer-call.svg" alt="call-ico" />
            +7 700 123 45 67
          </a>
        </li>
        <li>
          <a href="https://instagram.com/revatti" class="footer-link">
            <img src="/images/footer-insta.svg" alt="" />
            revatti
          </a>
        </li>
        <li>
          <a href="mailto:revatti@mail.com" class="footer-link">
            <img src="/images/footer-mail.svg" alt="mail-ico" />
            revatti&#64;mail.com
          </a>
        </li>
        <li>
          <a href="#aboutus" class="footer-link">
            <img src="/images/footer-game-ico.svg" alt="" />
            Выиграть скидку
          </a>
        </li>
      </ul>
    </div>
  </footer>
</div>
