<div class="relative pb-[396px]">
  <div
    class="blur-[250px] bg-[#2362E0] w-[219px] h-[418px] absolute top-[400px] left-[25px]"
  ></div>
  <div
    class="blur-[250px] bg-[#B5C868] opacity-40 w-[994px] h-[100px] absolute top-[387px] left-[463px]"
  ></div>
  <div
    class="frame bg-[#FF7A00] absolute top-[200px] left-[375px] rotate-[-7.18deg]"
  >
    Лендинги
  </div>
  <div class="frame bg-[#6872C8] absolute top-[106px] left-[572px]">
    CRM системы
  </div>
  <div class="frame bg-[#C30B7A] absolute top-[169px] left-[841.02px]">CSS</div>
  <div
    class="frame bg-[#491888] absolute top-[137px] left-[1047px] rotate-[-4.93deg]"
  >
    Python
  </div>
  <div class="frame bg-[#068071] absolute top-[170px] left-[1308px]">
    SEO аналитика
  </div>
  <div class="text-center mx-127 pt-69">
    <h1 class="text-[#F3FF69] text-[4.4rem] font-bold leading-23 tracking-[-1.5px]">
      КРЕАТИВИМ И СОЗДАЕМ<br/> <span class="relative left-[18px]">
        ЧТО-ТО УНИКАЛЬН<span
          class="inline-block align-middle"
        >
          <img
            src="images/image 9.svg"
            alt="о"
            class="relative left-[-6px] w-full h-full" /></span
        ><span class="relative left-[-23px]">Е</span>
      </span>
    </h1>
  </div>
  <div class="frame !px-6 bg-[#182FA5] absolute top-[402px] left-[406.19px] rotate-[5.84deg]">
    HTML
  </div>
  <div class="frame bg-[#2A9DDD] absolute top-[551.75px] left-[303px] rotate-[-5.86deg]">
    React
  </div>
  <div class="frame bg-[#8F42BF] absolute top-[586px] left-[502.13px] rotate-[9.17deg]">
    Figma
  </div>
  <div class="frame bg-[#4FA142] absolute top-[559.66px] left-[690px] rotate-[-2.61deg]">
    Многостраничные сайты
  </div>
  <div class="frame bg-[#2D57C5] absolute top-[639.77px] left-[1053.23px] rotate-[5.18deg]">
    TypeScript
  </div>
  <div class="frame bg-[#FF3737] absolute top-[532px] left-[1153px]">
    UX/UI
  </div>
  <div class="frame bg-[#DF52C9] absolute top-[494.39px] left-[1333px] rotate-[-8.89deg]">
    Web-приложения
  </div>
</div>
